body{
    background-color:#d2d2d2;
    font-family:Arvo;
    color:#ffffff;
}

header div img{
    height:50px;
    width: 50px;
    margin-top:10px;
}

header div h4{
    margin-top:15px;
}

#all{
    height: 70px;
    background-color:#82bfd8;
    text-align:center;
}

#all h4{
 padding-top:15px;
}

.map{
    background-color: #62988f;
}


header,
main {
    width:430px;
}

#logo{
    background-color:#4fb1a2;
    height:70px
}

nav{
    background-color:#ffffff;
    height:70px;
}

#hamburger{
    color:#000000;
    margin-top:20px;
    font-size:2.5rem;
}

.cell{
    height:400px;
    margin: 1.5px 0;
}

.bulba{
    background:url("assets/img.jpeg")  no-repeat center;
    background-size:cover;
}

.villa1{
    background:url("assets/villa1.jpg")  no-repeat center;
    background-size:cover;
}

.villa2{
    background:url("assets/villa2.jpg")  no-repeat center;
    background-size:cover;
}

.villa3{
    background:url("assets/villa3.jpeg")  no-repeat center;
    background-size:cover;
}

.villa4{
    background:url("assets/villa4.jpg")  no-repeat center;
    background-size:cover;
}

.titleText{
    margin-top:100px;
    background-color:#6d6a6a60;
    text-align: center;
    font-weight:lighter;
}

.imageText{
    background-color:#6d6a6a60;
    margin-top:150px;
    padding:3px;
    transition: background-color 0.3s;
}

.imageText:hover{
    background-color:#6d6a6a;
}

.imageText h2,
.imageText h5 {
    color:#ffffff;
    text-align: center;
    font-weight: lighter;
}

.textBox{
    background-color:#ffffff;
}

.map div{
    margin-top:100px;
    text-align:center;
    background-color:#ffffff;
    color:#000000;
}



.textBox h3,
.textBox h4{
    color:#82bfd8;
    text-align: center;
    font-weight: lighter;
    line-height:1.6;
}

.textBox a{
    font-size:1.8rem;
    color:#82bfd8;
    border: 1px solid #82bfd8;
    text-decoration: none;
    padding:8px 10px;
    text-align:center;
    margin-top:30px;
    transition: background-color 0.3s, color 0.3s;
}

.textBox a:hover{
    background-color:#82bfd8;
    color:#ffffff;
}

.review{
    background-color: #69cfbf;
}

.reviewInner{
    border: 2px solid #4fb1a2;
    height:360px;
    margin-top:20px;
    text-align:center;
}

.reviewInner h4{
    margin-top:20px;
    line-height:1.6;
}

.reviewInner h1{
    font-size: 7rem;
    font-style: italic;
}

.reviewInner h3{
    margin-top:10px;
}

.reviewInner a{
    color:#2b7e71;
    border: 1px solid #2b7e71;
    padding: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.reviewInner a:hover{
    background-color:#2b7e71;
    color: #ffffff;
}

.mediaBox{
    background-color:#ffffff;
}

.mediaBox h3{
    color:#000000;
    text-align:center;
    margin-top:80px;
}

.mediaBox h1{
    color: #999999;
    text-align:center;
}

footer{
    width: 430px;
}

footer div{
    background-color: #e4e4e4;
}

footer div {
    padding-top: 50px;
}

footer div h5,
footer div p {
    text-align:center;
    color: #878a8b;
    line-height:2;
}

.signature{
    padding-top: 50px;
}

/*media queries*/

@media only screen and (min-width: 1200px) {
    footer,
    header,
    main{
        width:1200px;
    }
}